
@{
    ViewBag.Title = "Index";
}
<hr />

<hr>
<a href="/home/index"><img src="~/Images/home.jpg" width="28" height="28" />Home</a>  |  <a href="/account/signup"><img src="~/Images/sign.png" width="25" height="25" />Sign-Up</a>  |  <a href="/user/login"><img src="~/Images/login.jpg" width="25" height="25" />Login</a>  |  <a href="/user/logout"><img src="~/Images/logout.png" width="25" height="25" />Logout</a>   |  <a href="/user/details"  >View Profile</a><hr />
