
@{
    ViewBag.Title = "Details";
}

<hr />
<a herf="/home/details">Fashion</a> | <a href="">About</a> | <a href="">Help Centre</a> | <a href="">Top Offers</a>
<hr />

<h2>Fashion Hub</h2>
<hr />

<div>
    1.Shoes
    <a href="/home/show/1"><img src="~/Images/shoe.jpg"/></a>
</div>

