
@{
    ViewBag.Title = "Index";
}

<hr />
<a herf="/home/details">Fashion</a> | <a href="">About</a> | <a href="">Help Centre</a> | <a href="/store/index">Store</a> | <a href="">Top Offers</a>
<hr />

<div>
    <p>Fashion</p>
    <a href="/home/details"><img src="~/Images/fashion.jpg" /></a>
</div>

