
@{
    ViewBag.Title = "Index";
}

<hr />
<a href="/home/index">Home</a> | <a href="/home/tv">Tv</a> | <a href="/home/movies">Movies</a> | <a href="/home/sports">Sport</a>
<hr />
<h2>Disney</h2>

1.Cruella
<br />
<a href="/disney/details/1"><img src="~/images/cruella.jpg" height="100" width="150" /></a>
<br />
<br />
2.Aladin
<br />
<a href="/disney/details/2"><img src="~/images/aladin.jpg" height="100" width="150" /></a>
<br />
<br />
3.Mulan
<br />
<a href="/disney/details/3"><img src="~/images/mulan.jpg" height="100" width="150" /></a>


