
<h2>Product Details</h2>
<hr />
<br />
<div>
    
    <p>Product Id       :@ViewBag.product.Id</p>
    <p>Product Title    :@ViewBag.product.Title</p>
    <p>Product Desc     :@ViewBag.product.Info</p>
    <p>Product Price    :@ViewBag.product.UnitPrice</p>
    <p>Product Quantity :@ViewBag.product.Quantity</p>
</div>