
@{
    ViewBag.Title = "Index";
}

<hr />
<a href="/home/index">Home</a> | <a href="/product/index">Product</a> | <a href="/customer/index">Customer</a> | <a href="/company/index">Company</a>
<hr />

<p>Mobile Shop</p>
