
@{
    ViewBag.Title = "Index";
}

<hr />
<a href="/home/index">Home</a> | <a href="/home/tv">Tv</a> | <a href="/home/movies">Movies</a> | <a href="/home/sports">Sport</a>
<hr />

<br />
<a href="/disney/index"><img src="~/images/disney.jpg" height="100" width="150" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><img src="~/images/marvel.png" height="100" width="150" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href=""><img src="~/images/pixar.png" height="100" width="150" /></a>
<div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>


