
@{
    ViewBag.Title = "Movies";
}


<hr />
<a href="/home/index">Home</a> | <a href="/home/tv">Tv</a> | <a href="/home/movies">Movies</a> | <a href="/home/sports">Sport</a>
<hr />

<center><h2>Movies</h2></center>
<hr />
<ol>
    <li>Hindi</li>
    <li>English</li>
    <li>Marathi</li>
</ol>