
@{
    ViewBag.Title = "Sports";
}
<hr />
<a href="/home/index">Home</a> | <a href="/home/tv">Tv</a> | <a href="/home/movies">Movies</a> | <a href="/home/sports">Sport</a>
<hr />
<center><h2>Sport</h2></center>
<hr />
<ol>
    <li>Cricket</li>
    <li>Hockey</li>
    <li>Football</li>
</ol>

