
@{
    ViewBag.Title = "Tv";
}

<hr />
<a href="/home/index">Home</a> | <a href="/home/tv">Tv</a> | <a href="/home/movies">Movies</a> | <a href="/home/sports">Sport</a>
<hr />
<center><h2>Tv Channels</h2></center>
<hr />

<ol>
    <li>Other Shows</li>
    <li>Hotstar Specials</li>
    <li>Quix</li>
    <li>Star Plus</li>
</ol>
